################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/pboBank/pboBank/Debug
/src/pboBank/pboBank/x64/Debug/pboBank.tlog/CL.command.1.tlog
/src/pboBank/pboBank/x64
/src/pboBank/x64/Release
/src/pboBank/pboBank.sdf
/src/pboBank/pboBank.VC.opendb
/src/pboBank/pboBank_LinuxBuild/bin/x64
/src/pboBank/pboBank_LinuxBuild/obj/x64
/src/pboBank/pboBank_LinuxBuild/readme/images
/src/pboBank/pboBank_LinuxBuild/readme
